{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="mb-3">
            {{form(formVille)}}

    </div>
    {%endif%}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card  card-box">
                <div class="card-head">
                    <header>Ville</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="table-wrap">
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width"
                                   id="example4">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom De La Ville</th>
                                    <th>Region</th>
                                    <th>Province</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for ville in Villes %}
                                    <tr {#class="odd gradeX"#}>
                                        <td class="center">{{ ville.id }}</td>
                                        <td >{{ ville.nomVille }}</td>
                                        <td>{{ ville.region }}</td>
                                        <td>{{ ville.province }}</td>
                                        <td>
                                            <a href="{{path('montrer.ville',{'id':ville.id})}}" class="btn btn-tbl-info btn-xs">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a href="{#{{path('modifier.ville', {'id':ville.id})}}#}" class="btn btn-tbl-edit btn-xs">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            <a href="{{path('supprimer.ville',{'id':ville.id})}}">
                                            <button class="btn btn-tbl-delete btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </button></a>
                                            {%endif%}
                                        </td>
                                    </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if isPaginated is defined and isPaginated %}
        <div class="row mt-2">
            <nav aria-label="col Page navigation example">
                <ul class="pagination">
                    {% if page != 1 %}
                        <li class="page-item">
                            <a
                                    class="page-link"
                                    href="{{ path('app_privillege', {page: page - 1, nbre: nbre}) }}"
                            >
                                Previous
                            </a></li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path('app_ville', {page: i, nbre: nbre}) }}"
                            >{{ i }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if page != nbrePage %}
                        <li class="page-item">
                            <a
                                    class="page-link"
                                    href="{{ path('app_ville', {page: page + 1, nbre: nbre}) }}"
                            >Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    {% endif %}
{% endblock %}
