{% extends 'base.html.twig' %}

{% block title %}region{% endblock %}

{% block body %}
    <h1>region</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom De La Region</th>
           
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ region.id }}</td>
            <td>{{ region.nomregion }}</td>
            <td>
                <a href="{{ path('app_region') }}" class="btn btn-tbl-arrow btn-xs">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a href="{#{{ path('', {'id': region.id}) }}#}" class="btn btn-tbl-edit btn-xs">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <a href="{{path('supprimer.region',{'id':region.id})}}">
        <button class="btn btn-tbl-delete btn-xs">
            <i class="fa fa-trash-o "></i>
        </button></a>
{%endblock%}