{% extends 'base.html.twig' %}

{% block title %}Listes des Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste Des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{path('app_users_show',{'id':user.id})}}" class="btn btn-tbl-info btn-xs">
                        <i class="fa fa-info"></i>
                    </a>
                    <a href="{{ path('app_users_show', {'id': user.id}) }}" class="btn btn-tbl-edit btn-xs">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="{{ path('app_users_delete', {'id': user.id}) }}">
                        <button class="btn btn-tbl-delete btn-xs">
                            <i class="fa fa-trash-o "></i>
                        </button>
                    </a>

                    {#                    <a href="">show</a>#}
{#                    <a href="">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{{ path('app_users_new') }}">
    <li class="fa fa-plus-circle"></li>
</a>
{% endblock %}
